---
import Modal from "../ui/Modal.astro";

---


<Modal delay="1000" autoOpen={true}>

    <div class="justify-center flex col max items-center relative  flex-col ">
        <div class=" relative flex w-full">
            <img class="w-full hidden xl:block" src="/img/mundial/pcBanner.png" alt="Logo Flotante" class="relative w-48 h-48 md:w-64 md:h-64 object-contain animate-float" />
            <img class="w-full block xl:hidden" src="/img/mundial/movilBanner.png" alt="Logo Flotante" class="relative w-48 h-48 md:w-64 md:h-64 object-contain animate-float" />
        </div>

        <div class="w-full">
            <div class="w-full bg-red-600 p-2">
                <p class="text-white text-xs xl:text-lg">
                    PS5 ®  CUPON POR $25 DENTRO DE LA TIENDA, JERSEY’S  Y MUCHOS PRODUCTOS MAS
                </p>
            </div>
            <div class="w-full bg-white p-2">
                <p class="text-center text-xs xl:text-lg mb-2 xl:mb-0">
                    <strong class="text-black">VIGENCIA DE LA PROMOCIÓN:</strong>
                    DEL 11 DE JUNIO AL 19 DE JULIO DE 2026.
                </p>
                
                <p class="text-center text-xs xl:text-lg mb-2 xl:mb-0">
                    <strong class="text-black">SORTEOS SEMANALES:</strong>
                    LOS FINES DE SEMANAS
                </p>
                
                <p class="text-center text-xs xl:text-lg">
                    <strong class="text-black">SORTEOS PS5®:</strong>
                    19 DE JULIO
                </p>
            </div>
            <div class="w-full bg-black p-2">
                <p class="text-white hidden xl:block" style="font-size: 0.75rem;">
                    Promición válida del 11/06/26 al 19/07/26 en tiendas Savemart participantes. Consolas  de forma independiente. PS5® es una marca registrada de Sony Interactive Enterlainment; esta promoción  no está patrocinada ni asociada  a dicha marca ni los organizadores oficiales torneo  fútbol mundial
                </p>
                <p class="text-white xl:hidden" style="font-size: 0.50rem;">
                    Promición válida del 11/06/26 al 19/07/26 en tiendas Savemart participantes. Consolas  de forma independiente. PS5® es una marca registrada de Sony Interactive Enterlainment; esta promoción  no está patrocinada ni asociada  a dicha marca ni los organizadores oficiales torneo  fútbol mundial
                </p>
            </div>
            <div class="w-full bg-white p-2">
                <p class="text-black" style="font-size: 0.40rem;">
TÉRMINOS Y CONDICIONES DE LA PROMOCIÓN MUNDIALISTA DE CANCÚN
La participación en esta promoción implica la aceptación total de las bases, términos y condiciones que se detallan a continuación por parte de los consumidores y/o participantes.
1. ORGANIZADOR DE LA PROMOCIÓN
La empresa organizadora y responsable de la presente actividad promocional es la empresa CAD Import Inc.
2. VIGENCIA DE LA PROMOCIÓN
La promoción iniciará a partir de la fecha de lanzamiento y concluirá de forma definitiva el día 19 de julio de 2026. No se aceptarán cupones en el buzón después del cierre de la última urna en la fecha mencionada.
3. REQUISITOS PARA PARTICIPAR
• Podrán participar todas las personas físicas residentes que realicen sus compras en los establecimientos SAVEMART, en ningun otra tienda tendra esta promoción exclusiva.
• Los participantes deberán ser mayores de edad (o contar con la autorización de un tutor legal para reclamar el premio).
4. MECÁNICA DE PARTICIPACIÓN
Para formar parte de los sorteos, los usuarios deberán cumplir obligatoriamente con los siguientes pasos:
1. Compra de Producto: Realizar la compra de cualquier producto de la marca Cancún® en cualquiera de sus presentaciones como de la marca Hidravit® en cualquiera de sus presentaciones en las tiendas SAVEMART participantes.
2. Entrega de Cupón: Al momento de realizar el pago en la caja registradora, el personal de caja entregará al cliente un cupón de participación por cada ticket de compra válido, al validar la compra de los productos participantes.
3. Llenado y Depósito: El participante deberá llenar el cupón de forma legible con sus datos de contacto básicos (Nombre completo y número de teléfono celular) y depositarlo dentro del buzón oficial de la promoción ubicado en tiendas SAVEMART.
5. PREMIOS Y CALENDARIO DE SORTEOS
Los premios se dividirán en dos categorías: sorteos semanales y sorteos de premios mayores. Los cupones depositados siguen participando a lo largo de la vigencia de la promoción.
A. Sorteos Semanales (Fines de Semana)
Cada fin de semana durante la vigencia de la promoción, se realizará un sorteo extrayendo cupones de forma aleatoria del buzón. Los ganadores de estos sorteos semanales recibirán:
• Productos de la marca Cancún®.
• Productos de la marca Hidravit®.
• Productos de la marca Parche Leon®.
• Camisetas deportivas (T-shirts).
• Vales de $25 dentro de la tienda SAVEMART.
B. Sorteos Especiales de Premios Mayores (Consolas PS5®)
Se realizarán un sorteo especial para la entrega de las consolas de última generación PlayStation 5®:
• Se rifarán un total de 2 consolas a diferente ganador
6. ENTREGA Y RECLAMACIÓN DE PREMIOS
• Los ganadores serán contactados vía telefónica al número de celular registrado en el cupón seleccionado.
• Al momento de ser notificado, el ganador tendrá un plazo máximo de 30 días hábiles para reclamar su premio.
• Para validar y hacer entrega de cualquier premio (especialmente las consolas PS5®), el organizador se reserva el derecho de solicitar una identificación oficial vigente del ganador y/o el comprobante físico correspondiente.
7. MODIFICACIONES Y CANCELACIONES
La marca Cancún® se reserva el derecho de modificar los términos, fechas o premios de esta promoción por causas de fuerza mayor o ajenas a su control, notificando debidamente los cambios a través de sus canales oficiales de comunicación.
8. DESLINDES LEGALES OBLIGATORIOS (PROTECCIÓN DE MARCA)
Aviso de marca PlayStation: Esta promoción no está patrocinada, avalada, administrada ni asociada de ninguna forma con Sony Interactive Entertainment o sus filiales. PlayStation y PS5 son marcas registradas de Sony Interactive Entertainment. Las consolas se entregan como premio legítimamente adquirido de forma independiente por el organizador.
Aviso de exclusión FIFA: Este sorteo es una actividad comercial independiente organizada por la marca Cancún. No cuenta con afiliación, patrocinio, licencia ni autorización alguna por parte de la Fédération Internationale de Football Association (FIFA) ni de los organizadores oficiales de la Copa Mundial de la FIFA 2026.                </p>
            </div>
        </div>
    </div>

</Modal>